Hello, Terraform!

This is a sample file for uploading to Azure Blob Storage using Terraform.

Project: Azure Storage Demo
Created: 2024-11-01
Purpose: Learning Infrastructure as Code

Features demonstrated:
- Resource Group creation
- Storage Account provisioning
- Blob Container setup
- File upload automation

このファイルは Terraform によって自動的に Azure Blob Storage にアップロードされます。

INSTRUCTIONS:
- Copy this file to sample.txt in the project root
- Modify the content as needed for your testing
- The file will be uploaded to Azure Blob Storage when you run 'terraform apply'